---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';

const seo = {
  title: 'MiSintaxis | Aplicacion para aprendizaje de la sintaxis del español, analizador sintactico automatico',
  description: 'Aplicacion movil android ios y web de enseñanza de la sintaxis del español, contiene un analizador sintactico automatico y una herramienta para crear tus recursos como profesor para enseñar sintaxis con frases ya analizadas ',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">MiSintaxis</h1>
      <p class="fade-in">Introduce la frase que quieres que analicemos 🙃​</p>
      <SignupForm />
    </article>
  </Container>
</Layout>

