---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';

const seo = {
  title: 'MiSintaxis | Aplicacion para aprendizaje de la sintaxis del español, analizador sintactico automatico',
  description: 'Aplicacion movil android ios y web de enseñanza de la sintaxis del español, contiene un analizador sintactico automatico y una herramienta para crear tus recursos como profesor para enseñar sintaxis con frases ya analizadas ',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
   /* Estilos para el título con bordes negros */
   h1 {
    font-size: 3rem; /* Ajusta el tamaño según sea necesario */
    font-weight: bold;
    color: white; /* Color del texto principal */
    text-shadow: 
      -1px -1px 0 black,  
      1px -1px 0 black,  
      -1px 1px 0 black,  
      1px 1px 0 black; /* Contorno negro */
  }
  /* Opcional: Ajustar en pantallas más pequeñas */
  @media (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
    }
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      //<h1 class="fade-in">MiSintaxis</h1>
      <p class="fade-in">Introduce la frase que quieres que analicemos 🙃​</p>
      <SignupForm />
    </article>
  </Container>
</Layout>

